@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:wght@400;500;600;700&display=swap');
@import "tailwindcss";
* {
  font-family: 'Google Sans Code', monospace;
}

body {
  font-family: 'Google Sans Code', monospace;
  margin: 0;
  padding: 0;
}

#root {
  font-family: 'Google Sans Code', monospace;
}